<!DOCTYPE html>
<html lang="en">

<head>
  <title>Leave Application</title>
  <meta charset="UTF-8">
</head>

<body>
  Application
  <!--<form method="post" action="/leave" enctype='application/json'>
    StartDate: <input type="date" name="startDate"><br> EndDate: <input type="date" name="endDate"><br> LeaveType:
    <ul>
      <li>Type1 <input type="radio" name="leaveType" value="Type1"></li>
      <li>Type2 <input type="radio" name="leaveType" value="Type2"></li>
      <li>Type3 <input type="radio" name="leaveType" value="Type3"></li>
    </ul>Reason: <br><textarea rows="4" cols="50" name="Reason"></textarea><br>
    <input type="submit">
  </form>-->
</body>

</html>